* {
	margin: 0;
	box-sizing: border-box; 
	padding: 0;
}


a {
  text-decoration: none;
}

.rounded {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  padding: 10%;
}

body {
  background: #fddfa780;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book-on-shelf {
  margin: 1em 1em;
  /*width: 150px;*/
  height: 220px;
  position: relative;
  /* background: white; */
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s linear;
  border-left:   1px solid grey;
  border-bottom: 1px solid grey;
}

.book-on-shelf img {
  width: inherit;
  height: inherit;
  transform-origin: 0 50%;
  transform: rotateY(0);
  transition: all 0.45s ease;
}

.book-on-shelf::after,
.book-on-shelf::before, .book img, .book {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* On hover, thicken the shadow on the container and on the image, and "rotate" the image along the Y axis */
.book-on-shelf:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}

.book-on-shelf:hover img {
  transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

/* 
  Styles for book pages.
*/

.gridbody {
  margin: auto;
  max-width: 75vw;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: [logo] 7vw [back] 7vw [title] auto;  /* dummy to force the title to center*/
  grid-template-rows: [header] 7vw [page] auto;
}

.logo {
  grid-row: header;
  grid-column: logo;
}

.library {
  grid-row: header;
  grid-column: back;
}

.title {
  grid-row: header;
  grid-column: title;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  text-align: right;
  margin-left: auto;
  margin-right: 0.2rem;
  /* color:rgba(231, 37, 15, 0.938); */
  color: rgba(231, 82, 15, 0.94);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.bb-bookblock {
  grid-row: page;
  width: 80vw;
  height: 62vw; /* Note: units are in vw. Preserving photo aspect ratio wrt width of 1024 x 787px */
	margin: 0 auto;
	position: relative;
	z-index: 100;
	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
	border-left:   1px solid grey;
	border-bottom: 1px solid grey;
}


